@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic);
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.otf"); }

body {
  font-family: "Roboto", sans-serif; }
