@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css)

@font-face 
   font-family: 'Roboto'
   src: url('../fonts/Roboto-Regular.ttf')

@font-face 
   font-family: 'Roboto-Bold'
   src: url('../fonts/Roboto-Bold.ttf')

@font-face 
   font-family: 'Gilroy-ExtraBold'
   src:url('../fonts/Gilroy-ExtraBold.otf')
   
@font-face 
   font-family: 'Gilroy-Light'
   src:url('../fonts/Gilroy-Light.otf')

$gilroyLight: "Gilroy-Light", sans-serif
$gilroyBold: "Gilroy-ExtraBold", sans-serif
$roboto: "Roboto", sans-serif

body
   font-family: $roboto
   font-size: 15px
   font-weight: 400
   line-height: 1.4
   color: #333

h2
   font-family: $gilroyBold
   font-size: 32px
   font-weight: 700