@import "colors"

  


a
   color: white
   text-decoration: none
   transition: all 0.1s ease-in-out
   &:hover
      color: $fill-color
      text-decoration: none

ul
   padding: 0

b
      font-weight: 700