@import "reset"
@import "fonts"
@import "colors"
@import "reboot"
@import "slideout"

.fade
	position: absolute
	top: -100px
	background-color: #030303
	width: 370px
	height: 420px
	a
		
.fade div
	background-position: center center
.slick-arrow
	color: #333
	&:hover
		color: $fill-color
.slick-hidden
	outline: none
	display: block !important
.slider-current
	font-size: 32px
.slider-number
	color: #999
	font-size: 22px
.slider-divider
	color: #999
	font-size: 32px
	margin-bottom: 1px
.left-arrow
	margin-bottom: 12px
	padding-right: 15px
.right-arrow
	margin-bottom: -15px
	padding-left: 15px
.fade .slick-slide
	background-size: cover
	height: 420px
	outline: none!important
.fade-arrows
	position: absolute
	left: 30px
	bottom: 30px

.gallery-row__left-slider__arrows
	padding-top: 25px
	position: absolute
	bottom: -35px
	left: 0
	right: 0

.arrows
	height: 55px
	display: flex
	flex-flow: row nowrap
	justify-content: center
	align-items: flex-end
	i
		font-weight: 900
		font-size: 42px
.adress
	display: flex
	flex-flow: column nowrap
	align-items: stretch
	justify-content: flex-start
	&__item
		display: flex
		justify-content: space-between
		align-items: center
		span
			
		ul
			display: flex
			flex-flow: column nowrap
			align-items: flex-end
			list-style: none
	&>div
		border-top: 1px solid #eee
		padding: 4px 0
		&:nth-child(1)
			border-top: none
	a
		color: inherit

.adress-sm
	width: 270px

.adress-bg
	margin-left: 60px
	position: relative
	&:before
		content: 'Адрес'
		text-transform: uppercase
		font-family: "Gilroy", sans-serif
		font-weight: bold
		transform: rotate(270deg)
		position: absolute
		height: inherit
		left: -70px
		top: 40px
	&:after
		content: ''
		width: 5px
		height: 100%
		left: -25px
    	top: 0
		position: absolute
		background-color: #ffdb00



.phone
   font-weight: bold
   font-size: 16px

   &:hover
      color: $fill-color


.header
	font-size: 14px
	background-image: url(../img/bg_header.jpg)
	background-position: center center
	background-size: cover
	height: 500px
	&-top
		padding-top: 11px
		padding-bottom: 15px
		display: flex
		justify-content: space-between
		align-items: center
		&__right
			display: flex
			align-items: center
			&>a
				margin-left: 25px
			.button
				font-size: 12px
	&-content
		&__logo img
			max-height: 70px
			margin-top: 25px
		&__description
			text-transform: uppercase
			color: #999
			padding-bottom: 25px
			padding-top: 15px
			font-family: $gilroyLight
			



.button
	background-color: $fill-color
	color: white
	border-radius: 15px
	padding: 5px 10px
	&:hover
		color: white
   	opacity: 0.8

.button-md
	font-size: 16px
	padding: 8px 40px

.button-transparent
	background-color: transparent
	

.button-white
	border: 1px solid white
	color: white
	&:hover
		background-color: $fill-color
		border: 1px solid $fill-color
		color: white

.button-black
	background-color: transparent
	border: 1px solid black
	color: black
	&:hover
		background-color: $fill-color
		border: 1px solid $fill-color
		color: white

.menu-button
	font-size: 22px

.about
	position: relative
	padding: 50px 0
	h2
		text-align: center
		padding-bottom: 35px
	&__container
		border: 5px solid $border-color
	&__text
		padding: 75px 60px 75px 320px
		p
			padding-bottom: 10px

.features
	padding: 50px 0
	background-color: #eee
	&-row
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: center

.feature
	height: 120px
	display: flex
	flex-flow: column nowrap
	justify-content: space-between
	align-items: center
	transition: all 0.1s ease-in-out
	&:hover
		margin-top: 5px
		height: 100px
	&__icon
		margin: auto
	&__icon img
		max-height: 70px
		max-width: 100%

.catalog
	padding: 50px 0
	
.catalog-item
	position: relative
	&__image
		width: 100%
		height: 100%
		background-size: cover
		background-position: center center
		transition: all 0.2s ease-in-out
		z-index: 5
	&__caption
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		visibility: visible
		z-index: 10
		padding: 20px 25px
		font-size: 18px
		color: white
	&-overlay
		position: absolute
		top: 0
		left: 0
		z-index: -5
		display: flex
		flex-flow: column nowrap
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		transition: all 0.2s ease-in-out
.catalog-item__caption-overlay
			margin-bottom: 20px

.catalog-item:hover .catalog-item-overlay
	z-index: 20
	background-color: rgba($border-color, 0.7)
.catalog-item:hover .catalog-item__caption
	z-index: -20
	opacity: 0


.catalog-item__wrapper
	width: 100%
	height: 100%
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-items: center
	font-size: 22px
   max-width: 300px
   text-align: center
	padding: 25px

.catalog-item__text
	text-align: center
.catalog-item__button
	font-size: 14px
	margin-top: 25px



.heading
	display: flex
	justify-content: center
	align-items: center

h2.underlined
	position: relative
	text-transform: uppercase
	text-align: center
	white-space: nowrap
	&::after
		position: absolute
		content: ""
		bottom: -10px
		left: 0
		right: 0
		border-bottom: 5px solid $border-color


$marginhalf: 15px

.col-lg-7-30
	flex: 0 0 calc(58.33333% - #{$marginhalf})
	max-width: calc(58.33333% - #{$marginhalf})

.col-lg-5-30
	flex: 0 0 calc(41.66667% - #{$marginhalf})
   max-width: calc(41.66667 - #{$marginhalf})

.catalog-items
	padding-bottom: 50px
	padding-top: 35px
.catalog-item
	margin: $marginhalf
	box-sizing: border-box
	height: 250px
	&:nth-child(odd)
		margin-left: 0
	&:nth-child(even)
		margin-right: 0

.gallery
	padding-bottom: 80px
	&-button-row
		display: flex
		justify-content: center
		align-items: center

.gallery-row
	padding-top: 35px
	&__left
		position: relative
		&-slider
			height: 300px
		&-slider .slick-slide
			height: 300px
			background-position: center center
			background-size: cover
			outline: none!important

	&__right
		padding-left: 25px !important
		p
			padding-bottom: 10px

.partners
	padding-bottom: 50px
   padding-top: 25px
	&-carousel
		position: relative
		height: 145px
		font-size: 26px
		margin-left: 50px
		margin-right: 50px
.partners-slider-arrow-before
	position: absolute
	left: -50px
	top: 5px
	bottom: 0
	height: 70px
	width: 50px
	display: flex
	justify-content: flex-start
	align-items: center

.partners-slider-arrow-after
	position: absolute
	right: -50px
	top: 5px
	bottom: 0
	height: 70px
	width: 50px
	display: flex
	justify-content: flex-end
	align-items: center
.partners-carousel .slick-slide
	height: 70px
	margin: 5px
	outline: none!important

.line
	font-family: $gilroyLight
	background-color: $border-color
	padding: 25px
	display: flex
	align-items: center
	justify-content: center
	a
		color: inherit
		&:last-child
			text-decoration: underline
	i
		padding-right: 25px
		font-size: 50px
	p
		margin-bottom: 0

footer
	padding: 25px 0
	text-align: center
.footer
	&-right
		padding-left: 50px !important
	color: black
	&-button
		color: black
		align-self: center
	&-phone
		color: black
	&-left
		display: flex
		flex-flow: column nowrap
		justify-content: flex-start
		a
			&:nth-child(2)
				margin-top: 25px
			&:nth-child(3)
				margin-top: 10px
			&:nth-child(4)
				margin-top: 15px
	&-logo img
		max-height: 30px
		max-width: 100%

#menu
	background-color: #eee

.menu-title
	display: flex
	align-items: center
	justify-content: center
	height: 40px
.menu-list__item
	width: 100%
	height: 40px
	display: flex
	justify-content: flex-start
	align-items: center
	border-bottom: 1px solid #999
	&:first-child
		border-top: 1px solid #999

.menu-list__item a
	color: black
	width: 100%
	height: 100%
	padding: 5px 20px
	display: flex
	justify-content: flex-start
	align-items: center

.submenu__arrow
	font-size: 20px
	justify-content: center!important
	border-left: 1px solid #999
	padding: 0 !important
	width: 50px !important

